## .NET
bin/
obj/
*.user
*.suo

## Node.js
node_modules/
package-lock.json

## Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
dist/
*.egg-info/

## Environment files
.env

# Java
target/
.classpath
.project
.settings/
*.class
*.jar
.idea/
*.iml
