## .NET
bin/
obj/
*.user
*.suo

## Node.js
node_modules/
package-lock.json

## Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
dist/
*.egg-info/
python/build
program.spec

## Environment files
.env

# Java
target/
.classpath
.project
.settings/
*.class
*.jar
.idea/
*.iml

# Certificates
*.cer
*.pfx

# Visual Studio
.vs/
js/azsdkperf-js-win.exe
js/azsdkperf-js-linux
